/* Verificado el css en file externo */
/* Verificado hojas de estilo compartidas*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-centrado {
    justify-content: center; 
    align-items: center;     
    display: flex;
}

.foto img {
    width: 220px;
    display: block;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 45px;
}

.contenedor-perfil {
    display: flex;
    align-items: stretch;
    gap: 10px;
    padding: 20px;
}

.foto {
    flex: 1;
}

/* Dispositivos móviles (320px – 480px) */
@media (max-width: 480px) {
    .nav-contenedor {
        flex-direction: row;
    }

    .nav-item {
        border-right: 2px solid #ffffff;
    }

    .nav-item:last-child {
        border-right: none;
    }
    .title {
        font-size: 0.5rem;
    }

    .contenedor-perfil {
        flex-direction: row;
        align-items: stretch;
        flex-wrap: nowrap;
        width: 100%;
        padding: 10px; 
        box-sizing: border-box;
    }

    .foto {
        flex: 1;
        padding-right: 5px; 
    }

    .foto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 45px; 
        border-bottom-left-radius: 10px; 
    }

    .perfil {
        flex: 2;
        padding: 10px;
        margin-left: 0;
        overflow-y: auto;
    }
}

/* iPads, tablets (481px – 768px) */

@media (min-width: 481px) and (max-width: 768px) {
    .nav-contenedor {
        flex-direction: row;
    }

    .nav-item {
        border-right: 2px solid #ffffff;
    }

    .nav-item:last-child {
        border-right: none;
    }
    .title {
        font-size: 1.3rem;
    }

    .contenedor-perfil {
        flex-direction: row;
        align-items: stretch;
        flex-wrap: nowrap;
        width: 100%;
        padding: 10px; 
        box-sizing: border-box;
    }

    .foto {
        flex: 1;
        padding-right: 5px; 
    }

    .foto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 45px; 
        border-bottom-left-radius: 10px; 
    }

    .perfil {
        flex: 2;
        padding: 10px;
        margin-left: 0;
        overflow-y: auto;
    }
    
}

/* Pantallas pequeñas, ordenadores portátiles (769px – 1024px) */

@media (min-width: 769px) and (max-width: 1024px) {
    .nav-contenedor {
        flex-direction: row;
    }

    .nav-item {
        border-right: 2px solid #ffffff;
    }

    .nav-item:last-child {
        border-right: none;
    }
    .title {
        font-size: 1.5rem;
    }
    .title {
        font-size: 2rem;
    }

    .contenedor-perfil {
        flex-direction: row;
        align-items: stretch;
        flex-wrap: nowrap;
        width: 100%;
        padding: 10px; 
        box-sizing: border-box;
    }

    .foto {
        flex: 1;
        padding-right: 5px; 
    }

    .foto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 45px; 
        border-bottom-left-radius: 10px; 
    }

    .perfil {
        flex: 2;
        padding: 10px;
        margin-left: 0;
        overflow-y: auto;
    }
}

/* Pantallas grandes, ordenadores de escritorio (1025px – 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
    .nav-contenedor {
        flex-direction: row;
    }

    .nav-item {
        border-right: 2px solid #ffffff;
    }

    .nav-item:last-child {
        border-right: none;
    }

    .contenedor-perfil {
        flex-direction: row;
        align-items: stretch;
        flex-wrap: nowrap;
        width: 100%;
        padding: 10px; 
        box-sizing: border-box;
    }

    .foto {
        flex: 1;
        padding-right: 5px; 
    }

    .foto img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 45px; 
        border-bottom-left-radius: 10px; 
    }

    .perfil {
        flex: 2;
        padding: 10px;
        margin-left: 0;
        overflow-y: auto;
    }
}


.perfil {
    max-width: 800px;
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #fff;
    margin-left: 5px; 
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.nombre {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    color: #6812f3;
    font-weight: bold;
}

.descripcion {
    font-family: 'Georgia', serif;
    font-size: 1.125rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-linea {
    display: flex;
    align-items: flex-start;
}

.info-label {
    width: 300px;
    font-size: clamp(1rem, 1rem + 0vi, 1rem) ;
}

.respuesta {
    flex: 1;
    font-size: clamp(1rem, 1rem + 0vi, 1rem) ;
}

.header-index {
    background-color: #99c5dd;;
    width: 100%;
    display: flex;
    justify-content: center; 
    padding: 0;
    height: 100px; 

}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    line-height: 1.2;
}

.small {
    font-size: 0.75rem;
    color: #ffffff;
}

.nav-contenedor {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 1200px; 
}

.nav-item {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #ffffff;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    color: #ffffff;
}


.nav-item:last-child {
    border-right: none; 
}

.nav-item form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-item input[type="text"]:focus {
    border: 2px solid #6812f3;
    background-color: #f3e8ff;
    outline: none;
}

.nav-item button {
    font-family: Century Gothic, sans-serif; 
    padding: 6px 15px;
    font-size: 0.875rem;
    background-color: #49306B;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s;

    padding: 5px 10px;
    background-color: #49306B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.nav-item button:focus {
    background-color: #8b4487;
    outline: none;
}


.lista-estudiantes {
    list-style: none;
    padding: 0;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px; 
    margin: 20px;
    text-align: center; 
}

.lista-estudiantes li {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    border: 1px solid #000000;
    transition: transform 0.3s, background-color 0.3s;
}

.lista-estudiantes img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px; 
    transition: transform 0.3s;
}

.lista-estudiantes li:hover {
    background-color: #99c5dd;
    transform: scale(1.1) rotate(5deg);
}

.lista-estudiantes li:hover img {
    transform: scale(1.2) rotate(-5deg);
}

footer {
    text-align: center;
    width: 100%;
    height: 60px; 
    background-color: #C499D6;
    color: #ffffff;
    flex-shrink: 0;
    margin-top: auto;
}